.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    background-color: #220cc8;
    color: white;
    top: 0%;
}

.Nav-item {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.Nav-item:hover {
    background-color: #03c0d1;
    cursor: pointer;
}

.Nav-item Link {
    text-decoration: none;
}