.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    background-color: #1e00ff;
    color: rgb(255, 255, 255);
    top: 0%;
    margin: 0%;
}

.Nav-item {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.Nav-item:hover {
    background-color: #1ec93a;
    cursor: pointer;
}

.links{
    color: white;
    text-decoration: none;
}

